html{
    font-size: 62.5%;
}

body{
    font: 1.6 rem Helvetica;
    height: 100vh;
    margin: 0;

}
.grid-container{
display: grid;
grid-template-areas: 
"header"
"main"
"footer";

grid-template-columns: 1fr;
grid-template-rows: 5rem 1fr 5rem;
height: 100%;
}
.header{
    grid-area: header;
background-color: #203040;
color: #ffffff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.5rem;

}
.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;

}
.header-links a{
    color: #ffffff;
    font-size: 2.1rem;
    margin: 2px;
    text-decoration: none;


}
.header-links a:hover{
    color: #ff8000;
    font-size: 2.1rem;
    margin: 2px;
    text-decoration: none;


}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;

}
a:hover{
    color: #ff8000;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.product-name{
    font-size: 2rem;
    font-weight: bold;
}
.product-price{
    font-size: 2.5rem;
    font-weight: bold;

}
.product-brand{
    font-size: 1.2rem;
    color: #808080;
}
.products-image{
    max-width: 34rem;
    max-height: 34rem;

}
.product-rating{
    margin-bottom: 1rem;
}